/* ensure all pages have Bootstrap CSS */
@import "~bootstrap/dist/css/bootstrap.min.css";

.md-container {
  max-width: 800px;
  padding-top: 2rem;
}

.sml-card {
  width: 22rem;
  margin: 1rem 0;
}

.cntr-footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid #ccc;
}

.sml-logo {
  height: 1em;
  margin-left: 10px;
}

.hero {
  background-image: url("https://mdbcdn.b-cdn.net/img/new/standard/city/041.webp");
}

.social {
  height: 36px;
  width: 36px;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.bread-item {
  display: block;
}

.breadcrumbs :not(:first-child):before {
  content: "|";
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  color: #6c757d;
}

.gap-2 {
  gap: 2;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
